@import "../../../palettes/pico8/_original.scss";

.component {
  background-color: pico8-original-palette(14);
  display: grid;
  width: 100vw;
  height: 100vh;

  grid-template-areas:
    "spritesheet"
    "."
    "toolbox";

  grid-template-columns: auto;
  grid-template-rows: min-content 2px auto;
  overflow: hidden;

  @media (orientation: landscape) {
    grid-template-areas: "spritesheet . toolbox";
    grid-template-columns: auto 2px auto;
    grid-template-rows: auto;
  }
}

.screen {
  border: 2px solid pico8-original-palette(2);
  width: 100%;
  box-sizing: border-box;
  flex: 1;
  grid-area: spritesheet;
  display: flex;
}

.toolbox {
  width: 100%;
  box-sizing: border-box;
  grid-area: toolbox;
  display: flex;
  max-height: 100%;
  overflow: hidden;
}
