.component {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.canvas {
  stroke: red;
  fill: none;
  stroke-width: 2px;
}

.frame {
  fill: none;
  stroke: cyan;
  stroke-width: 8px;
}

.image {
  image-rendering: pixelated;
}
