@import "../../../palettes/pico8/_original.scss";

.component {
  display: grid;
  grid-area: size;
  height: 32px;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 8px;
}

.size {
  display: block;
  background-color: pico8-original-palette(2);
  border: 1px solid pico8-original-palette(15);
}

.active {
  background-color: pico8-original-palette(12);
  border: 1px solid pico8-original-palette(14);
}
