body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

@media (orientation: landscape) {
  body {
    align-items: center;
  }
}

@media (orientation: portrait) {
  body {
    align-items: flex-start;
  }
}

canvas {
  image-rendering: pixelated;
  width: 100vmin;
  height: 100vmin;
}

img {
  display: none;
}
