html {
  background-color: black;
  overflow: hidden;
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  overflow: hidden;
  justify-content: center;
  user-select: none;
}

@media (orientation: landscape) {
  body {
    align-items: center;
  }
}

@media (orientation: portrait) {
  body {
    align-items: flex-start;
  }
}

canvas {
  /* https://bugs.webkit.org/show_bug.cgi?id=193895 */
  image-rendering: pixelated;
  user-select: none;
  width: 128px;
  height: 128px;
}

img {
  display: none;
}
