@import "../../../palettes/pico8/_original.scss";

.playerControls {
  display: flex;
  height: 32px;
  background-color: pico8-original-palette(14);
  border-top: 2px solid pico8-original-palette(2);
  border-bottom: 2px solid pico8-original-palette(2);
  margin-left: -2px;
  margin-right: -2px;
}
