@import "../../../palettes/pico8/_original.scss";

.slide {
  border: 2px solid pico8-original-palette(2);
  border-top-width: 0;
  border-bottom-width: 0;
  padding: 2px;
  background-color: pico8-original-palette(14);
}

.tile {
  padding: 2px;
  background-color: pico8-original-palette(14);
}

.firstTile {
  border-left: 2px solid pico8-original-palette(2);
  border-left-width: 2px;
}

.lastTile {
  border-right: 2px solid pico8-original-palette(2);
  border-right-width: 2px;
}

.inner {
  flex: 1;
  border: 2px solid pico8-original-palette(2);
}
