@import "../../../palettes/pico8/_original.scss";

.component {
  background-color: pico8-original-palette(7);
  flex-direction: column;
  padding: 8px;
  align-items: center;
  overflow: hidden;
}

.icon {
  margin-top: 16px;
}

.name {
  margin-top: 8px;
  margin-bottom: 16px;
}
