@import "../../../palettes/pico8/_original.scss";

.component {
  background-color: pico8-original-palette(7);
  flex-direction: row;
  padding: 8px;
  align-items: center;
  overflow: hidden;
}

.icon {
}

.name {
  margin-left: 8px;
}
