@import "../../../palettes/fantasy8/_mixin";

.component {
  flex: 1;
  border-color: fantasy8(14);
  border-width: 2px;
  border-top-width: 0px;
}

.create {
  flex-direction: column;
}

.createBlank {
  margin-top: 8px;
}

.createImport {
  margin-top: 8px;
}
