.graphics {
  display: grid;
  width: 100vw;
  height: 100vh;

  grid-template-areas:
    "spritesheet"
    "toolbox";

  grid-template-columns: auto;
  grid-template-rows: min-content auto;
}

.spritesheet {
  grid-area: spritesheet;
  display: flex;
}

.toolbox {
  grid-area: toolbox;
  display: flex;
}
