.graphics {
  display: grid;
  width: 100vw;
  height: 100vh;

  grid-template-areas:
    "spritesheet spritesheet"
    "palette navigator"
    "zoom zoom";

  grid-template-columns: auto auto;
  grid-template-rows: auto min-content min-content;
}

.navigator {
  grid-area: navigator;
}

.palette {
  grid-area: palette;
}

.spritesheet {
  grid-area: spritesheet;
  display: flex;
}

.zoom {
  grid-area: zoom;
}
