.component {
  display: grid;
  grid-template-areas:
    ".  .   ."
    ". text ."
    ".  .   .";
  grid-template-columns: 8px auto 8px;
  grid-template-rows: 0px auto 0px;
  max-width: 100vw;
}

.text {
  grid-area: text;
}
