@import "../../../palettes/fantasy8/_mixin";

.component {
  flex: 1;

  background-color: fantasy8(6);
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.disk {
  margin-top: 16px;
}
