@import "../../../palettes/pico8/_original.scss";

.component {
  display: flex;
  flex: 1;
  background-color: pico8-original-palette(1);
  position: relative;
}

.text {
  color: pico8-original-palette(7);
  font-family: "overpass-mono-regular";
  font-size: 16px;
  text-shadow: 0px 1px 2px pico8-original-palette(0);
}

.selected {
  background-color: pico8-original-palette(12);
  color: pico8-original-palette(7);
  font-family: "overpass-mono-bold";
  text-shadow: 0px 1px 2px pico8-original-palette(0);
  min-height: 34px;
}

.copy {
  position: absolute;
  top: 4px;
  right: 4px;
}
