@import "node_modules/@itsy.studio/palettes/pico8/_original.scss";

.loading {
  flex: 1;
  border-color: pico8-original-palette(2);
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;

  background-color: pico8-original-palette(6);
  display: flex;
  align-items: center;
  justify-content: center;
}
