@import "../../../palettes/pico8/_original.scss";

.container {
  background-color: pico8-original-palette(0);
  display: flex;
}

.inside {
  background-color: #ff77a8;
  display: flex;
  height: 32px;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top-color: #7e2553;
  border-top-width: 2px;
  border-right-color: #7e2553;
  border-left-color: #7e2553;
  border-left-width: 2px;
  border-right-width: 2px;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 6px;
}

.right {
  margin-right: 4px;
}

.floppy {
}

.title {
  display: flex;
  flex-direction: row;
  margin-left: 8px;
}
