@import "../../../palettes/pico8/_original.scss";

.component {
  background-color: pico8-original-palette(1);
  border: 2px solid pico8-original-palette(2);
  display: grid;
  grid-area: menu;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex: 1;
  max-height: 100%;
}

.Horizontal {
  grid-template-rows: repeat(4, 1fr);
}

.Vertical {
  grid-template-columns: repeat(4, 1fr);
}

.item {
  display: flex;
  align-self: center;

  .Vertical & {
    max-height: 48px;
  }
}
