@import "../../../palettes/pico8/_original.scss";

.snapshot {
  flex: 1;
  background-color: pico8-original-palette(12);
  display: flex;
}

.webview {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
