@import "../../../palettes/pico8/_original.scss";

.component {
  flex: 1;
  border: 2px solid pico8-original-palette(2);
  // border-top-color: pico8-original-palette(6);
  // border-top-width: 2px;
  position: relative;
}

.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.webview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
