@import "../../../palettes/pico8/_original.scss";

.helpPanel {
  display: flex;
  flex: 1;
}

.controls {
  flex-direction: row;
  align-items: center;
  height: 32px;
  background-color: pico8-original-palette(15);
  border-bottom-color: pico8-original-palette(13);
  border-bottom-width: 2px;
  padding-left: 2px;
}

.scrollView {
  flex: 1;
  background-color: pico8-original-palette(7);
}
