.layout {
  display: grid;
  grid-template-areas: ". content .";
  grid-template-columns: auto 512px auto;
}

.content {
  display: grid;
  grid-area: content;
  grid-template-areas: "."
    "title"
    "."
    "body";
  grid-template-rows: 16px min-content 16px min-content;
}

.title {
  color: rebeccapurple;
  font-family: "Overpass Mono", sans-serif;
  font-size: 32px;
  text-shadow: 0px 0px 8px plum;
  grid-area: title;
  margin: 0;
}

.body {
  grid-area: body;
}
