@import "../../../palettes/pico8/_original.scss";

.component {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.circle {
  fill: pico8-original-palette(12);
  stroke: pico8-original-palette(7);
  stroke-width: 8px;
}

.point {
  stroke: pico8-original-palette(7);
  stroke-width: 8px;
  fill: pico8-original-palette(12);
}
