@import "../../../palettes/pico8/_original.scss";
@import "../../stylesheets/layout";
@import "../../stylesheets/typography";

@mixin cell() {
  padding-top: 8px;
}

.component {
  grid-area: inputlist;
}

.table {
  border-collapse: collapse;
}
