@import "../../../palettes/pico8/_original.scss";

.devtoolsToolbar {
  border: 2px solid pico8-original-palette(2);
  border-top-width: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: pico8-original-palette(14);
  height: 32px;
  padding: 4px;
}
