@import "../../../palettes/pico8/_original.scss";

.component {
  flex: 1;
  background-color: pico8-original-palette(0);
  border-color: pico8-original-palette(1);
  border-top-width: 2;
  border-right-width: 2;
  border-bottom-width: 2;
  border-left-width: 2;
}
