@import "../../../palettes/pico8/_original.scss";

.component {
  background-color: pico8-original-palette(7);
  border: 2px solid pico8-original-palette(2);
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 8px;
}

.prompt {
}

.input {
  background-color: pico8-original-palette(7);
  border-color: pico8-original-palette(0);
  border-width: 2px;
  font-family: "overpass-mono-bold";
  font-size: 16px;
  padding: 4px;
  width: 100%;
  margin-top: 8px;
}

.buttons {
  margin-top: 8px;
  flex-direction: row;
}

.save {
  margin-right: 8px;
}
