@import "../../../palettes/fantasy8/_mixin";

.component {
  flex-direction: row;
  align-items: center;
  height: 40px;
  background-color: fantasy8(15);
  border-bottom-color: fantasy8(13);
  border-bottom-width: 2px;
  padding-left: 2px;
}

.DiskPanelBrowser {
  background-color: fantasy8(15);
  border-bottom-color: fantasy8(13);
  border-bottom-width: 2px;
}

.DiskPanelInspector {
  background-color: fantasy8(15);
  border-bottom-color: fantasy8(13);
  border-bottom-width: 2px;
}

.PlayPanelConsole {
  background-color: transparent;
  border-bottom-color: fantasy8(13);
  border-bottom-width: 0;
}

.button {
  margin-right: 4px;
}
