@import "~@highvalley.systems/palettes/fantasy8/mixin";

.component {
  background: fantasy8(7);
  width: 100vw !important;
  height: 100vh !important;
  display: flex;
  flex-direction: column;
  font-family: "Overpass Mono", monospace !important;
  font-size: 18px;
  font-weight: bold;
}
