@import "~@highvalley.systems/palettes/pico8/original";

.component {
  background: #eee;
  width: 100vw !important;
  height: 100vh !important;
  display: flex;
  flex-direction: column;
  font-family: "Overpass Mono", monospace !important;
  font-size: 18px;
  font-weight: bold;
}
