@import "../../../palettes/pico8/_original.scss";

.screen {
  background-color: pico8-original-palette(14);
  border-right-color: pico8-original-palette(2);
  border-bottom-color: pico8-original-palette(2);
  border-left-color: pico8-original-palette(2);
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
}

.frame1 {
  flex: 1;
  display: flex;
  border-right-color: pico8-original-palette(14);
  border-bottom-color: pico8-original-palette(14);
  border-left-color: pico8-original-palette(14);
  border-right-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.frame2 {
  flex: 1;
  display: flex;
  border: 2px solid pico8-original-palette(2);
}
