@import "../../../palettes/pico8/_original.scss";

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: pico8-original-palette(14);
  height: 32px;
  padding: 4px;
}
