@import "../../../palettes/pico8/_original.scss";

.toolbar {
  border: 2px solid pico8-original-palette(2);
  border-top-width: 0;
  background-color: pico8-original-palette(14);
  height: 32px;
  padding: 4px;
  position: relative;
}

.slide {
  flex-direction: row;
  justify-content: space-between;
}

.tiles {
}

.corner {
  flex-direction: row;
  justify-content: space-between;
  width: 256px;
}

.storage {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
