@import "../../../palettes/pico8/_original.scss";
@import "../../stylesheets/typography";

.component {
  font-family: "Overpass Mono";
  display: inline-grid;
  grid-template-columns: repeat(3, min-content);
  column-gap: 1px;
}

.lt {
  color: pico8-original-palette(13);
}

.name {
  color: pico8-original-palette(14);
}

.gt {
  color: pico8-original-palette(13);
}
