@import "../../../palettes/pico8/_original.scss";
@import "../../stylesheets/typography";

.type {
  font-family: "Overpass Mono";
}

.type__lt {
  color: pico8-original-palette(13);
}

.type__name {
  color: pico8-original-palette(14);
}

.type__gt {
  color: pico8-original-palette(13);
}
