@import "../../../palettes/pico8/_original.scss";

.zooms {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.zoom {
  display: block;
  background-color: pico8-original-palette(2);
  border: 1px solid pico8-original-palette(15);
}

.active {
  background-color: pico8-original-palette(12);
  border: 1px solid pico8-original-palette(14);
}
