@import "node_modules/@itsy.studio/palettes/pico8/_original.scss";

.editor {
  flex: 1;
  border-top-color: pico8-original-palette(6);
  border-top-width: 2px;
  position: relative;
}

.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.webview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
