@import "../../../palettes/pico8/_original.scss";

.svg {
  max-height: 32px;
  max-width: 32px;
  overflow: hidden;
  width: calc(100%);
  height: calc(100% - 16px);
}

.image {
  image-rendering: pixelated;
}
