.component {
  flex: 1;
  max-height: 100%;
}

.rect {
}

.activeHighlight1 {
  fill: none;
  stroke: white;
  stroke-width: 16px;
}

.activeHighlight2 {
  fill: none;
  stroke: black;
  stroke-width: 8px;
}
