@import "../../../palettes/pico8/_original.scss";

.drawPanel {
  display: flex;
  flex: 1;
}

.webview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
