@import "../../../palettes/pico8/_original.scss";

.button {
  align-items: center;
  border-color: pico8-original-palette(1);
  flex-direction: row;
  justify-content: center;
}

.Regular {
  border-width: 1px;
  box-shadow: 1px 1px 0.5px pico8-original-palette(13);
  border-radius: 2px;
  height: 32px;
  width: 72px;
  padding: 2px 2px 4px 2px;
}

.Large {
  border-width: 2px;
  box-shadow: 1px 1px 1px pico8-original-palette(13);
  border-radius: 4px;
  height: 64px;
  width: 100%;
  padding: 2px 2px 4px 2px;
}

.Blue {
  background-color: pico8-original-palette(12);
  border-color: pico8-original-palette(1);
}

.Gray {
  background-color: pico8-original-palette(13);
  border-color: pico8-original-palette(1);
}

.Red {
  background-color: pico8-original-palette(8);
  border-color: pico8-original-palette(1);
}

.White {
  background-color: pico8-original-palette(7);
  border-color: pico8-original-palette(1);
}
