@import "../../../palettes/fantasy8/_mixin";

.button {
  align-items: center;
  border-color: fantasy8(1);
  flex-direction: row;
  justify-content: center;
}

.Regular {
  border-width: 1px;
  box-shadow: 1px 1px 0.5px fantasy8(13);
  border-radius: 2px;
  height: 32px;
  width: 72px;
  padding: 2px 2px 4px 2px;
}

.Large {
  border-width: 2px;
  box-shadow: 1px 1px 1px fantasy8(13);
  border-radius: 4px;
  height: 64px;
  width: 100%;
  padding: 2px 2px 4px 2px;
}

.Blue {
  background-color: fantasy8(12);
  border-color: fantasy8(1);
}

.Gray {
  background-color: fantasy8(13);
  border-color: fantasy8(1);
}

.Green {
  background-color: fantasy8(11);
  border-color: fantasy8(1);
}

.Orange {
  background-color: fantasy8(9);
  border-color: fantasy8(1);
}

.Red {
  background-color: fantasy8(8);
  border-color: fantasy8(1);
}

.White {
  background-color: fantasy8(7);
  border-color: fantasy8(1);
}
