@import "../../../palettes/pico8/_original.scss";

.component {
  flex-direction: row;
  align-items: center;
  flex: 1;
  margin: 4px;
  padding: 4px;
}

.active {
  background-color: pico8-original-palette(12);
}

.icon {
  margin-right: 8px;
}
