@import "~@highvalley.systems/spraypaint/palettes/pico8";

.header {
  background-color: pico8(6);
}

.breadcrumbs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.breadcrumb {
  margin: 4px 0;
}

.breadcrumb {
  margin-right: 4px;
}

.breadcrumb:first-child {
  margin-left: 4px;
}

.breadcrumb:last-child {
  margin-right: 0px;
}

.breadcrumbLink {
  background-color: pico8(1);
  color: pico8(7);
  display: block;
  padding: 4px;
}
