@import "color";
@import "layout";
@import "typography";

.page {
  background-color: #fceeff;
  font-family: "Helvetica";
  margin: 8px;
}

.page__title {
  @include h1();
}

.page__body {
  h2 {
    @include h2();
  }

  pre code {
    font-size: 16px;
  }
}
