@import "~@highvalley.systems/spraypaint/palettes/pico8";
@import "layout";
@import "typography";

.page {
  background-color: #fceeff;
  font-family: "Helvetica";
  padding: 0 8px;
}

.page__title {
  padding: 16px 0;
  // height: 32px;
  // max-height: 32px;
  // display: flex;
}

.page__body {
  font-family: "Overpass";

  h2 {
    @include h2();
  }

  $elements: p ul h2 h3 table ol pre;

  @each $a in $elements {
    #{$a} {
      margin: 0;
    }
    @each $b in $elements {
      #{$a} + #{$b} {
        margin-top: 16px;
      }
    }
  }

  a {
    color: pico8(12);
    color: #036EB5;
    text-decoration: none;
  }

  code {
    font-family: "Overpass Mono";
    font-size: 16px;
  }

  pre code {
    font-size: 16px;
  }

  // td:first-child > a {
    // display: block;
    // text-decoration: none;
    // width: 70px;
  // }
}

