@import "~@highvalley.systems/spraypaint/palettes/pico8";
@import "typography";

.search {
  flex: 1;
  outline: 0;
  padding: 8px;
  font-family: "Overpass Mono";
  font-weight: bold;
  font-size: 18px;
  color: pico8(13);
  display: block;
  height: 28px;
  border: 0;
}
