@import "../../../palettes/pico8/_original.scss";

.spritesheet {
  margin-top: 8px;
  width: 100%;
}

.buttons {
  flex-direction: row;
}

.export {
  margin-right: 8px;
}

.import {
  margin-right: 8px;
}
