@import "../../../palettes/pico8/_original.scss";

.component {
  flex: 1;
  border-bottom-color: pico8-original-palette(14);
  border-bottom-width: 2px;
}

.tiles {
  flex-direction: row;
}

.playWrapper {
  flex: 1;
  border-left-color: pico8-original-palette(14);
  border-left-width: 2px;
}

.tabWrapper {
  flex: 1;
  border-left-color: pico8-original-palette(14);
  border-left-width: 2px;
  border-right-color: pico8-original-palette(14);
  border-right-width: 2px;
}

.tabBar {
  height: 32px;
  border-bottom-color: pico8-original-palette(13);
  border-bottom-width: 2px;
  border-right-color: pico8-original-palette(14);
  border-right-width: 2px;
  border-left-color: pico8-original-palette(14);
  border-left-width: 2px;
}

.indicator {
  background-color: pico8-original-palette(12);
  height: 32px;
}
