@import "../../../palettes/pico8/_original.scss";
@import "../../stylesheets/layout";
@import "../../stylesheets/typography";

.component {
  @include code();
  font-size: 14px;
  grid-area: signature;
  margin: 0;
}

.name {
  color: pico8-original-palette(3);
}
