@import "../../../palettes/pico8/_original.scss";
@import "../../stylesheets/layout";
@import "../../stylesheets/typography";

@mixin cell() {
  padding-top: 8px;
}

.input {
  border-collapse: collapse;
}

.input__name {
  @include cell();
  @include code();

  color: pico8-original-palette(3);
}

.input__type {
  @include cell();
  font-size: 12px;
  padding-left: 2px;
  padding-right: 4px;
}

.input__desc {
  @include cell();
  color: pico8-original-palette(0);
}

.input__base {
  color: pico8-original-palette(13);
  font-size: 14px;
}
