@import "../../../palettes/pico8/_original.scss";

.prompt {
}

.input {
  background-color: pico8-original-palette(7);
  border-color: pico8-original-palette(0);
  border-width: 2px;
  font-family: "overpass-mono-bold";
  font-size: 16px;
  padding: 4px;
  width: 100%;
}

.button {
  margin-top: 8px;
}
