/.glitch-assets
/base64/engine.js
/base64/stylesheet.js
/editor/index.html
/editor/build.js
/engine/core.js
/engine/itsy.js
/engine/*.o
/engine/*/*.o
/functions/*/*.o
/lua/lua
/lua/luac
/lua/*.a
/lua/*.o
/manual/index.html
/manual/build.js
/node_modules/*