@import "../../../palettes/fantasy8/_mixin";

.component {
  flex: 1;
  background-color: fantasy8(7);
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.webview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.touchable {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.inner {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
}

.play {
}
