@import "../../../palettes/pico8/_original.scss";

.component {
  border: none;
  background: transparent;
  width: 48px;
  height: 48px;
  overflow: hidden;
  display: grid;
  padding: 8px;

  &:focus {
    outline: none;
  }
}

.active {
  background-color: pico8-original-palette(1);
}
