@import "../../../palettes/pico8/_original.scss";

.component {
  border: none;
  background: transparent;
  min-width: 48px;
  min-height: 48px;
  overflow: hidden;
  display: grid;
  padding: 8px;
  flex: 1;
  max-height: 100%;

  &:focus {
    outline: none;
  }
}

.active {
  background-color: #394467;
}
