@import "../../../palettes/pico8/_original.scss";

.tabBar {
  height: 32px;
  border-bottom-color: pico8-original-palette(13);
  border-bottom-width: 2px;
}

.indicator {
  background-color: pico8-original-palette(12);
  height: 32px;
}
