@import "../../../palettes/pico8/_original.scss";

.component {
  flex: 1;
  background-color: pico8-original-palette(7);
}

.header {
  flex-direction: column;
  padding: 8px;
  align-items: center;
}

.icon {
  margin-top: 16px;
}

.name {
  margin-top: 8px;
  margin-bottom: 16px;
}

.actions {
  align-items: center;
}
