@import "../../../palettes/pico8/_original.scss";

.component {
  display: grid;
  grid-area: hex;
  grid-template-areas: "label . value";
  grid-template-columns: min-content 8px min-content;
  grid-template-rows: min-content;
  align-items: center;
}

.label {
  grid-area: label;
}

.value {
  grid-area: value;
}
