@import "../../../palettes/pico8/_original.scss";

.component {
  background-color: transparent;
  border: 0;
  padding: 0;
  z-index: 2;

  &:focus {
    outline: none;
  }
}

.active {
}

.layout {
  display: grid;
  grid-template-areas: ". icon . label meta .";
  grid-template-columns: 8px 32px 16px auto 64px 8px;

  @media (min-width: 400px) {
    grid-template-columns: auto 32px 16px 256px 64px auto;
  }

  @media (min-width: 400px) and (min-height: 760px) {
    grid-template-columns: auto 32px 16px 384px 64px auto;
  }
  height: 48px;
}

.icon {
  grid-area: icon;
  position: relative;
  overflow: hidden;
  height: 32px;
  align-self: center;
}

.label {
  grid-area: label;
  align-self: center;
  justify-self: flex-start;
}

.meta {
  grid-area: meta;
  align-self: center;
  justify-self: center;
}
