@import "../../../palettes/fantasy8/_mixin";

.component {
  flex: 1;
  background-color: fantasy8(7);
  align-items: center;
}

.header {
  flex-direction: column;
  padding: 8px;
  align-items: center;
}

.icon {
  margin-top: 16px;
}

.name {
  margin-top: 8px;
  margin-bottom: 16px;
}

.input {
  background-color: fantasy8(7);
  border-color: fantasy8(0);
  border-width: 2px;
  font-family: "overpass-mono-bold";
  font-size: 16px;
  padding: 4px;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  max-width: 512px;
}

$actions: 2;
.actions {
  align-self: center;
  justify-content: space-between;
  align-items: center;
  max-width: 512px;
  height: #{(32px * $actions) + (8px * ($actions - 1))};
}
