@import "node_modules/@itsy.studio/palettes/pico8/_original.scss";

.tile {
  background-color: pico8-original-palette(6);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  border-top-width: 4px;
  border-right-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-top-color: pico8-original-palette(13);
  border-right-color: pico8-original-palette(13);
  border-bottom-color: pico8-original-palette(13);
  border-left-color: pico8-original-palette(13);
  overflow: hidden;
}

.disk {
  margin-bottom: 8px;
  margin-top: 8px;
}
