@import "../../../palettes/pico8/_original.scss";

.component {
  background-color: pico8-original-palette(6);
  flex: 1;
}

.title {
  border-top-color: pico8-original-palette(1);
  border-top-width: 2px;
  background-color: pico8-original-palette(13);
  border-bottom-color: pico8-original-palette(1);
  border-bottom-width: 2px;
  padding: 8px;
}

.children {
  background-color: pico8-original-palette(6);
  flex: 1;
  padding: 8px;
}

.spacer {
  height: 32px;
}
