@import "../../../palettes/pico8/_original.scss";

@mixin aspect-ratio($ratio: 1 1, $selector: "> :first-child") {
  $selector: unquote($selector);

  padding-bottom: percentage(nth($ratio, 2) / nth($ratio, 1));
  position: relative;

  #{$selector} {
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.component {
  border: 2px solid pico8-original-palette(2);
  @include aspect-ratio(1 1);
}

.canvas {
  image-rendering: pixelated;
  width: 100vw;
  height: 100vw;
}
