@import "../../../palettes/pico8/_original.scss";

.diskInspector {
  background-color: pico8-original-palette(6);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.rename {
  background-color: pico8-original-palette(7);
  border-color: pico8-original-palette(0);
  border-width: 2px;
  font-family: "overpass-mono-regular";
  font-size: 16px;
  padding: 4px;
}
