@import "../../../palettes/fantasy8/_mixin.scss";

.component {
  background-color: fantasy8(5);
  display: grid;
  grid-template-areas:
    ".  ...  ."
    ".  svg  ."
    ".  ...  .";
  grid-template-columns: 8px auto 8px;
  grid-template-rows: 8px auto 8px;
  max-height: 100%;
  max-width: 100%;
}

.svg {
  grid-area: svg;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  width: calc(100%);
  height: calc(100% - 16px);
}

.image {
  image-rendering: pixelated;
}
