@import "../../../palettes/pico8/_original.scss";

$max: 512px;
$stripe1: pico8-original-palette(0);
$stripe2: #111111;

.component {
  background-image: linear-gradient(
    45deg,
    $stripe1 25%,
    $stripe2 25%,
    $stripe2 50%,
    $stripe1 50%,
    $stripe1 75%,
    $stripe2 75%,
    $stripe2 100%
  );
  background-size: 8px 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex: 1;
}

.square {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.limit {
  flex: 1;

  max-width: 384px;
  max-height: 384px;

  @media (orientation: portrait) and (min-height: 760px) {
    max-width: 512px;
    max-height: 512px;
  }

  @media (orientation: portrait) and (min-height: 512px) {
    margin: 16px;
    box-shadow: 0 0 16px transparentize(pico8-original-palette(7), 0.6);
    border: 1px solid pico8-original-palette(7);
  }
}

.tool {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  height: 100%;
  flex: 1;
  overflow: hidden;

  @media (orientation: landscape) {
    box-shadow: 0 0 16px transparentize(pico8-original-palette(7), 0.6);
    border: 1px solid pico8-original-palette(7);
  }
}

.active {
  display: grid;
}
