@import "../../../palettes/pico8/_original.scss";

.toolbox {
  background-color: pico8-original-palette(1);
  display: grid;
  flex: 1;
}

.crowded {
  grid-template-areas:
    "palette navigator"
    "zoom zoom";
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: repeat(2, auto);
}

.stacked {
  grid-template-areas:
    "palette"
    "navigator"
    "zoom";
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: repeat(1, auto);
}

.navigator {
  grid-area: navigator;
}

.palette {
  grid-area: palette;
}

.zoom {
  grid-area: zoom;
}
