@import "../../../palettes/pico8/_original.scss";

.component {
  background-color: pico8-original-palette(1);
  box-sizing: border-box;
  display: grid;
  flex: 1;
  overflow: hidden;
}

.Horizontal {
  grid-template-areas: "menu tools";
  grid-template-columns: min-content auto;
  grid-template-rows: repeat(1, min-content);
}

.Vertical {
  grid-template-areas:
    "menu"
    "tools";
  grid-template-columns: min-content auto;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: auto;
}

.menu {
  display: grid;
  grid-area: menu;
  grid-auto-rows: min-content;
  list-style-type: none;
  margin: 0;
  padding: 8px;
}

.menuitem {
  padding: 8px;
}

.menuitem__active {
  background-color: pico8-original-palette(12);
}

.tools {
  display: grid;
  grid-area: tools;
  overflow: hidden;
}

.stacked {
  grid-template-areas:
    "palette"
    "navigator"
    "zoom";
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: repeat(1, auto);
}

.pencil {
  transition: transform 1s;
  padding: 8px 8px 8px 0;
  box-sizing: border-box;
}

.camera {
  transition: transform 1s;
  padding: 8px 8px 8px 0;
  box-sizing: border-box;
}
