.background {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #FFF1E8;
  border-bottom: 2px solid #83769C;
  box-shadow: #C2C3C7 0px 2px 0 0;
  margin-bottom: 2px;
}

.foreground {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  max-width: 512px;
  position: relative;
  min-height: 96px;
}