.component {
  flex: 1;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.handle {
  fill: brown;
  stroke: white;
  stroke-width: 16px;
}

.brush {
  stroke: white;
  stroke-width: 16px;
}
