@import "node_modules/@itsy.studio/palettes/pico8/_original.scss";

.divider {
  background-color: pico8-original-palette(14);
  display: flex;
  align-items: center;
  justify-content: center;
}

.landscape {
  width: 4px;
}

.portrait {
  height: 4px;
}
