@import "../../../palettes/pico8/_original.scss";

.component {
  border: 2px solid pico8-original-palette(2);
  background-color: pico8-original-palette(14);
  border-bottom-width: 0;
  flex-direction: row;
  align-items: center;
  height: 32px;
  padding: 4px;
  position: relative;
}
