@import "../../../palettes/pico8/_original.scss";

.component {
  background-color: pico8-original-palette(7);
  border-top-color: pico8-original-palette(1);
  border-top-width: 1px;
  flex-direction: column;
  flex: 1;
}
