@import "../../../palettes/pico8/_original.scss";

.component {
  background-color: pico8-original-palette(7);
  border: 2px solid pico8-original-palette(2);
  border-top-width: 1px;
  flex-direction: column;
}
