.component {
  display: grid;
}

.Horizontal {
  grid-template-areas:
    ". ............ . mode-picker"
    ". mode-options . mode-picker"
    ". ............ . mode-picker";
  grid-template-columns: 8px auto 8px 32px;
  grid-template-rows: 8px auto 8px;
}

.Vertical {
  grid-template-areas:
    "mode-options"
    "mode-picker";
  grid-template-rows: 1fr 32px;
}
