.component {
  display: grid;
}

.Horizontal {
  grid-template-areas: "mode-picker . mode-options";
  grid-template-columns: 32px 8px auto;
}

.Vertical {
  grid-template-areas:
    "mode-options"
    "mode-picker";
  grid-template-rows: 1fr 32px;
}
