@import "../../../palettes/pico8/_original.scss";

.component {
  flex: 1;
  display: flex;
  flex-direction: row;
  border: 2px solid pico8-original-palette(2);
  border-top-width: 0;
  border-bottom-width: 0;
}
