@import "../../../palettes/pico8/_original.scss";

.component {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.handle {
  fill: pico8-original-palette(7);
}

.handleShadow {
  stroke: pico8-original-palette(0);
  stroke-width: 16px;
}

.shaft {
  fill: pico8-original-palette(7);
}

.stamp {
  fill: pico8-original-palette(7);
}

.stampShadow {
  stroke: pico8-original-palette(0);
  stroke-width: 16px;
}
