@import "../../../palettes/pico8/_original.scss";

.playPanel {
  display: flex;
  flex: 1;
}

.landscape {
  flex-direction: row;
}

.portrait {
  flex-direction: column;
}

.divider {
  height: 4px;
  background-color: pico8-original-palette(14);
}

.screen {
  display: flex;
  border: 2px solid pico8-original-palette(2);
}

.controls {
  display: flex;
}

.console {
  display: flex;
  flex: 1;
}
