@import "../../../palettes/fantasy8/_mixin";

.playPanel {
  display: flex;
  flex: 1;
}

.landscape {
  flex-direction: row;
}

.portrait {
  flex-direction: column;
}

.divider {
  height: 2px;
  background-color: fantasy8(14);
}

.screen {
  display: flex;
}

.controls {
  display: flex;
}

.console {
  display: flex;
  flex: 1;
  background-color: fantasy8(1);
}
