@import "../../../palettes/pico8/_original.scss";
@import "../../stylesheets/typography";

.border {
  border: 4px solid #ddd;
  box-sizing: border-box;
}

.header {
  background-color: pico8-original-palette(15);
  background-color: pico8-original-palette(7);
  background-color: #fff;
  border: 2px solid #ccc;
  box-sizing: border-box;
  display: flex;
  height: 32px;
}
