@import "../../../palettes/fantasy8/_mixin.scss";

.component {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  fill: fantasy8(7);
}

.circle {
  fill: fantasy8(12);
  stroke: fantasy8(7);
  stroke-width: 8px;
}

.circlePoint {
  stroke: fantasy8(7);
  stroke-width: 8px;
  fill: fantasy8(12);
}

.fillBucket {
  fill: fantasy8(1);
  stroke: fantasy8(7);
  stroke-width: 8px;
  transform-origin: 50% 50%;
  transform: rotate(45deg);
}

.fillPaint {
  stroke: fantasy8(7);
  stroke-width: 8px;
  transform-origin: 50% 50%;
  transform: rotate(45deg);
}

.fillDroplet {
  stroke: fantasy8(7);
  stroke-width: 4px;
}

.line {
  stroke: fantasy8(7);
  stroke-width: 16px;
}

.linePoint {
  stroke: fantasy8(7);
  stroke-width: 8px;
  fill: fantasy8(12);
}

.pasteHandle {
  fill: fantasy8(7);
}

.pasteHandleShadow {
  stroke: fantasy8(0);
  stroke-width: 16px;
}

.pasteShaft {
  fill: fantasy8(7);
}

.pasteStamp {
  fill: fantasy8(7);
}

.pasteStampShadow {
  stroke: fantasy8(0);
  stroke-width: 16px;
}

.pencil {
  fill: fantasy8(7);
}
