@import "../../../palettes/pico8/_original.scss";

.playPanel {
  display: flex;
  flex: 1;
}

.landscape {
  flex-direction: row;
}

.portrait {
  flex-direction: column;
}

.screen {
  display: flex;
}

.controls {
  display: flex;
}

.console {
  display: flex;
  flex: 1;
}
